* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ccc;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  color: #aaa;
  text-align: center;
}

.menu_contatos {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  height: 60vh;
  border-radius: 2px;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  width: 40vw;
  padding: 15px;
}

.foto {
  border-radius: 50%;
}

.icones {
  display: flex;
  gap: 15px;
}

.card .icones {
  visibility: hidden;
}

.card:hover .icones {
  visibility: visible;
  filter: opacity(15%);
}

.card:hover {
  background-color: #eee;
  box-shadow: inset 0px 0px 1px #aaa;
}

.id {
  line-height: 1.5;
  align-items: center;
}

.id_nome {
  font-size: 24px;
  font-weight: 700;
}

.id_mail {
  color: #bbb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  font-size: 16px;
}

.icone img {
  width: 15px;
  height: 15px;
}

.cardflow {
  height: 500px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
